 body{
     background-color: rgb(1, 14, 14);  
 }
.user-main-div{
    display:flex;  
    margin:2cm;
    padding: 1cm;
    background-color: #bbb;
    height:80vh;
} 
 
 #login-form1,#login-form2 
  { 
      display:flex;     
      flex-direction: column;      
      align-content: center;
      justify-content: center;
      text-align: left;
   }  

 .line{
    margin-top: 2cm;
    border-left: 3px solid rgb(121, 116, 116);    
    height: 60vh;   
 }

 