 

.foto-container{
    width:100vw;
    height: 100vh;
    display:flex;
    justify-content: center; 
    align-items: center;    
    background-image: url('./leaves-g70ab335a1_640.jpg');
    background-size: cover;    
}

.about{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;   
    color:white;
    width:70vw;
    height: 70vh;    
}
    

 