 
.image-container{
    margin-top: 1cm;
    display:flex;
    flex-wrap:wrap;
    gap:3rem;
    background-color: rgb(1, 14, 14);  
    justify-content: space-evenly;
}

.imagecard{
  width: 20vw;
}

#button:hover{
  box-shadow: 0px 0px 5px 5px lightgoldenrodyellow;
}
 
/* .imagecard:hover{
  width :50vw;
  height:40vh;
  position:absolute;  
  z-index:1;
}   */
 
 